.social_icons a{
    font-size: 28px;
    margin: 15px 3px;
    color: rgb(207, 99, 99);
}

.menu_items a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.line{
    height: 5px;
    margin: 10px 0;
    background: rgb(201, 91, 69);
}